<%- include("partials/header") -%>
<section id ="home">
<div class="home-section text-center">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MzamoYethu Properties</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#pricing">Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#specifications">Specifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#completedprojects">Completed Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedback">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1 class="headings">Get yourself an affordable house</h1>
<p class="subheadings">New Development Houses</p>
<button type="button" class="btn btn-dark btn-lg contact-btn"> <a class="link" href="#contactus"> Contact Us</a></button>
<p class="styles">.</p>

</div>
</section>
<section id="specifications">

  <div class="container-con first-con">
    <div class="row fcol ">
      <div class="col-lg-4 col-sm-12 ">
        <i class="fa-solid fa-circle-check  fa-4x"></i>
        <h3 class="sub-heading-features">House fully tiled.</h3>
        <p class="feature-paragraph">We will add tiles to your home.</p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <i class="fa-solid fa-circle-check  fa-4x"></i>
        <h3 class="sub-heading-features">House fully painted</h3>
        <p class="feature-paragraph">We will paint the interior and exterior of your home.</p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <i class="fa-solid fa-circle-check  fa-4x"></i>
        <h3 class="sub-heading-features">Aluminium windows included.</h3>
        <p class="feature-paragraph">We will install aluminium windows in your home.</p>
      </div>
    </div>
  </div>

  <div class="container-con first-con second-col">
    <div class="row fcol">
      <div class="col-lg-4 col-sm-12 ">
        <i class="fa-solid fa-circle-check  fa-4x"></i>
        <h3 class="sub-heading-features">Hot water geyser.</h3>
        <p class="feature-paragraph">We will install a water geyser in your bathroom.</p>
      </div>
      <div class="col-lg-4 col-sm-12 sink-col">
        <i class="fa-solid fa-circle-check  fa-4x"></i>
        <h3 class="sub-heading-features">Sink-on-stils included</h3>
        <p class="feature-paragraph">We will add sink-on-stils in your kitchen.</p>
      </div>
    </div>
  </div>

</section>
<section id="feedback">
<div class="feedback-section">

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <h3 class="carousel-text">The Service is incredible . My dream home was built within 6 months .</h3>
        <h4><i class="fa-solid fa-person-circle-check"></i> Thato Bopape</h4>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <h3 class="carousel-text">MzamoYethu Properties has the best service compared to any property companies i've worked with.</h3>
        <h4><i class="fa-solid fa-person-circle-check"></i> Mampara Disotlo</h4>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <h3 class="carousel-text">Brilliant service , excellent excecution . They have indeed built my dream home .</h3>
        <h4><i class="fa-solid fa-person-circle-check"></i> Kwanele Mhlekazi</h4>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
</section>

<section id="pricing">
<div class="pricing-section">
<h1 class="PricingHeading">Pricing for vanderbijlpark</h1>

  <div class="row">

    <div class="column-pricing col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3> Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R639 000</h2>
          <p>Size : 50m**2</p>
          <p>Bedrooms : 2</p>
          <p>Bathrooms : 1</p>
          <p>Garage : 1</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm interested</button>
        </div>
      </div>
    </div>

    <div class=" column-pricing col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R789 000</h2>
          <p>size : 65 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
        <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>

      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price">
      <div class="card">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R839 000</h2>
          <p>Size : 72 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R939 000</h2>
          <p>Size : 85 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : optional</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R1 139 000</h2>
          <p>Size : 98 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : optional</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R700 000</h2>
          <p>Size : 50 meter squared</p>
          <p>Bedrooms : 2</p>
          <p>Bathrooms : 1</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R800 000</h2>
          <p>Size : 65 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R890 000</h2>
          <p>Size : 72 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R990 000</h2>
          <p>Size : 85 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : optional</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R1 200 000</h2>
          <p>Size : 98 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : optional</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

  </div>

<a class="link2" href="/prices">See pricing for more places</a>
</div>

</section>
<section id="completedprojects">
  <div class="OurProjects">

   <h1 class="headingstwo">Our Recent Completed Projects</h1>

   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/CompletedHouse.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedHouse2.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedHouse3.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedHouse4.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedProject12.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/Interior5.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/Interior6.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/Interior7.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedProject18.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedProject7.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedProject8.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedProject10.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedProject11.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
    <div class="carousel-item">
      <img src="/images/CompletedProject13.jpeg" class="d-block w-100 PImages" alt="Our Projects">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="VideoDiv">
  <h1 id="videohead"="headingsVideos">Work in Progress</h1>
  <div class="player">
    <video controls>
      <source src="images/Video.mp4" type="video/mp4">

      <!-- fallback content here -->
    </video>
    <div class="controls">
      <button class="play" data-icon="P" aria-label="play pause toggle"></button>
      <button class="stop" data-icon="S" aria-label="stop"></button>
      <div class="timer">
        <div></div>
        <span aria-label="timer">00:00</span>
      </div>
      <button class="rwd" data-icon="B" aria-label="rewind"></button>
      <button class="fwd" data-icon="F" aria-label="fast forward"></button>
    </div>
  </div>

</div>


</div>


</section>
<section id="requirements">
  <div class="requirementsdiv">
      <h1 class="requirementshead">What's required from you</h1>

      <ul class="list-group">

  <li class="list-group-item">South African ID <em class="emphasis">or</em> Passport(if you're coming from a foreign country)</li>
  <li class="list-group-item">latest 3 months bank statement</li>
  <li class="list-group-item">credit score must be above 650 points</li>
  <li class="list-group-item">your basic salary must start from R18 000</li>
</ul>
  </div>


</section>
<section id="contactus">
  <h1 class="headingcontact">Contact Us</h1>
  <i class="social-icons fa-brands fa-facebook"><a href="https://www.facebook.com/Mzamo-Yethu-Properties-and-Projects-101691648786598">  Mzamo facebook profile</a> </i>
  <i class="fa-solid fa-phone">  074 387 4844</i>
  <p class="copyrighttext">© Copyright 2022 MzamoYethu</p>
</section>
<%- include("partials/footer") -%>
