<%- include("partials/header") -%>

<div class="prices">
<h1 class="headingprices">Prices for other estates</h1>

</div>

<div class="pricing-section">
<h1 class="PricingHeading">Pricing For Reiger Park</h1>

  <div class="row">

    <div class="column-pricing col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3> Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R739 000</h2>
          <p>Size : 50 meter squared</p>
          <p>Bedrooms : 2</p>
          <p>Bathrooms : 1</p>
          <p>Garage : 1</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm interested</button>
        </div>
      </div>
    </div>

    <div class=" column-pricing col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R839 000</h2>
          <p>size : 65 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
        <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>

      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price">
      <div class="card">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R900 000</h2>
          <p>Size : 72 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R789 000</h2>
          <p>Size : 50 meter squared</p>
          <p>Bedrooms : 2</p>
          <p>Bathrooms : 1</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R890 000</h2>
          <p>Size : 65 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R939 000</h2>
          <p>Size : 70 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R990 000</h2>
          <p>Size : 80 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : single</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="pricing-section">
<h1 class="PricingHeading">Pricing For Sharon Park Lifestyle Estate</h1>

  <div class="row">

    <div class="column-pricing col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3> Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R639 000</h2>
          <p>Size : 50 meter squared</p>
          <p>Bedrooms : 2</p>
          <p>Bathrooms : 1</p>
          <p>Garage : 1</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm interested</button>
        </div>
      </div>
    </div>

    <div class=" column-pricing col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R739 000</h2>
          <p>size : 60 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
        <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>

      </div>
    </div>


    <div class="column-pricing col-sm-12 col-lg-4 col-price">
      <div class="card">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R750 000</h2>
          <p>Size : 65 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price">
      <div class="card">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R789 000</h2>
          <p>Size : 70 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price">
      <div class="card">
        <div class="card-header">
          <h3>Gable Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R839 000</h2>
          <p>Size : 80 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R689 000</h2>
          <p>Size : 50 meter squared</p>
          <p>Bedrooms : 2</p>
          <p>Bathrooms : 1</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R789 000</h2>
          <p>Size : 60 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R800 000</h2>
          <p>Size : 65 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>


    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R839 000</h2>
          <p>Size : 70 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R889 000</h2>
          <p>Size : 80 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : 0</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R890 000</h2>
          <p>Size : 85 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : single</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

    <div class="column-pricing col-sm-12 col-lg-4 col-price2">
      <div class="card second-row">
        <div class="card-header">
          <h3>Tuscan Type</h3>
        </div>
        <div class="card-body">
          <h2 class="price-h">R990 000</h2>
          <p>Size : 98 meter squared</p>
          <p>Bedrooms : 3</p>
          <p>Bathrooms : 2</p>
          <p>Garage : single</p>
          <button type="button" class="btn btn-outline-dark btn-lg">I'm Interested</button>
        </div>
      </div>
    </div>

  </div>

</div>


<%- include("partials/footer") -%>
